fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
smbprotocol
Pillow
httpx
python-dotenv
python-multipart
torch
torchvision
ultralytics
facenet-pytorch
scipy
reverse_geocode
watchfiles
imagehash
